---
layout: archive
---

{{ content }}

<!-- Short Bio Summary -->
<section class="bio-summary">
  <h2>About Me</h2>
  <p>
    Hi, I'm Fernando. I am an AI and robotics researcher with over seven years of experience developing machine learning solutions and robotic systems. At Imperial College London, I work on robot learning and user modelling, with applications in assistive technologies such as smart wheelchairs and collaborative robotic arms.  
    I enjoy bridging research and real-world applications, working in diverse, international teams where different perspectives come together. Over the years, I have had the chance to collaborate with engineers, clinicians, and end users — experiences that have shaped the way I approach technology as something to be useful, practical, and human-centred.  
  </p>
</section>

<!-- News Section -->
<section class="news">
  <h2>Latest News</h2>
  Coming soon...
  <ul>
    <!--<li>June 2024: Launched a new open-source project on GitHub.</li>
    <li>May 2024: Presented at the local developer meetup.</li>
     -->
  </ul>
</section>