---
layout: archive
---

{{ content }}

<!-- Short Bio Summary -->
<section>
  <h2>About Me</h2>
  <div class="small"><p>
    Hi, I'm Fernando. I am an AI and robotics researcher with over seven years of experience developing machine learning solutions and robotic systems. At Imperial College London, I work on robot learning and user modelling, with applications in assistive technologies such as smart wheelchairs and collaborative robotic arms.  
    I enjoy bridging research and real-world applications, working in diverse, international teams where different perspectives come together. Over the years, I have had the chance to collaborate with engineers, clinicians, and end users — experiences that have shaped the way I approach technology as something to be useful, practical, and human-centred.  
  </p></div>
</section>

<!-- News Section -->
<section>
  <h2>Latest News</h2>
  <table>
      <tr>
        <td>09 Sep</td>
        <td>
          Attended the <strong>UK AI Research Symposium (UKAIRS)</strong> in Newcastle.<br>
          Presented our work on 3D eye-gaze tracking for trust in HRI and chaired a session on Trustworthy AI.
        </td>
      </tr>
      <tr>
        <td>08 Sep</td>
        <td>
          <strong>IEEE ICRA 2025 proceedings</strong> are out.<br>
          Our paper <em>Interface Matters: Comparing First and Third-Person Perspective Interfaces for Bi-Manual Robot Behavioural Cloning</em> is now available
          <a href="https://doi.org/10.1109/ICRA55743.2025.11128110">here</a>.
        </td>
      </tr>
      <tr>
        <td>29 Aug</td>
        <td>
          Attended <strong>IEEE RO-MAN 2025</strong> in Eindhoven.<br>
          My co-author Rohan presented our work <em>Shared Control for Mobile Bimanual Manipulation on a Robotic Wheelchair</em>.
        </td>
      </tr>
      <tr>
        <td>25 Jul</td>
        <td>
          Taught at the <strong>Imperial Robotics Summer School</strong>.<br>
          Guided a team of 5 postgraduate students on social navigation for quadruped robots.
        </td>
      </tr>
  </table>

  <div style="text-align: center;">
    <a href="/news/" class="btn">All the news</a>
  </div>

</section>